<!-- main/templates/main/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to My Portfolio</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'certifications' %}">Certifications</a></li>
            <li><a href="{% url 'resume' %}">Resume</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</body>
</html>
