# Node.js files (for React frontend)
frontend/node_modules/
frontend/build/

# Python/Django files (for the backend)
__pycache__/
*.py[cod]
*.sqlite3
backend/.pytest_cache/
backend/.ruff_cache/
backend/.mypy_cache/
backend/test_staticfiles/
backend/test_media/
backend/venv/
backend/.venv/

# Environment files
.env
